@import "../../../bower_components/sass-rem/rem";

p {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}
a:hover, a:active {
    outline: 0;
}

a, button {
    outline: none;
}

input::-ms-clear {
    display: none;
}

button, input, select, textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}

img {
    border: 0px;
}

button, input {
    *overflow: visible;
    line-height: normal;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

ul {
    list-style: none;
}

html {
    height: 100%;
    overflow: hidden;
}

@media screen and (min-width:320px) {
    $rem-baseline: 19.2px;

    html {
        @include rem-baseline;
    }

    html {
        font-size: 19.2px;
    }

}

@media screen and (min-width:360px) {
    $rem-baseline: 21.6px;

    html {
        @include rem-baseline;
    }

    html {
        font-size: 21.6px;
    }

}

@media screen and (min-width:375px) {
    $rem-baseline: 22.5px;

    html {
        @include rem-baseline;
    }

    html {
        font-size: 22.5px;
    }

}

@media screen and (min-width:414px) {
    $rem-baseline: 24.84px;

    html {
        @include rem-baseline;
    }

    html {
        font-size: 24.84px;
    }

}

@media screen and (min-width:750px) {
    $rem-baseline: 45px;

    html {
        @include rem-baseline;
    }

    html {
        font-size: 45px;
    }

}

@media screen and (min-width:321px) and (max-width:359px) {
    $rem-baseline: 20.4px;

    html {
        @include rem-baseline;
    }

    html {
        font-size: 20.4px;
    }

}

@media screen and (min-width:361px) and (max-width:374px) {
    $rem-baseline: 22.05px;

    html {
        @include rem-baseline;
    }

    html {
        font-size: 22.05px;
    }

}

@media screen and (min-width:376px) and (max-width:413px) {
    $rem-baseline: 23.67px;

    html {
        @include rem-baseline;
    }

    html {
        font-size: 23.67px;
    }

}

@media screen and (min-width:415px) and (max-width:749px) {
    $rem-baseline: 34.92px;

    html {
        @include rem-baseline;
    }

    html {
        font-size: 34.92px;
    }

}

@font-face {
    font-family: 'iconfont';
    src: url('assets/fonts/iconfont.eot');
    src: url('assets/fonts/iconfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/iconfont.woff') format('woff'), url('/assets/fonts/iconfont.ttf') format('truetype'), url('/assets/fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.hide{
    display: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix {
    zoom: 1;

    &:after {
        content: "";
        display: block;
        visibility: hidden;
        height: 0;
        clear: both;
    }

}

header {
    width: 100%;
    height: 2.2rem;
    background: #FF7640;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    .go-history, .go-back {
        width: .555556rem /* 12.5/22.5 */;
        height: .933333rem /* 21/22.5 */;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0,-50%);
        -moz-transform: translate(0,-50%);
        -ms-transform: translate(0,-50%);
        -o-transform: translate(0,-50%);
        transform: translate(0,-50%);
        z-index: 999;
    }
    .go-history:before, .go-back:before {
        font-family: "iconfont";
        position: absolute;
        content: "\ed72";
        top: 50%;
        left: 50%;
        font-size: 1.25rem;
        color: #fff;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
    h1 {
        position: absolute;
        width: 2.45rem;
        height: 1.125rem;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%)
    }
}

.credit-header {
    background: #fff;
    border-bottom: 1px solid #ccc;
    .go-history {
        left: .85rem;
    }
    .go-history:before {
        color: #3f3f3f;
    }
    h1 {
        font-size: rem(17px);
        height: 2.2rem;
        line-height: 2.2rem;
        font-weight: normal;
        color: #3f3f3f;
        width: 100%;
        text-align: center;
    }
}

.wrap{
    padding-bottom: 2.075rem;
}
.APP{
    .container{
        margin-top: 0 !important;
    }
    header.credit-header{
        display: none;
    }
    header.creditHeader{
        height: 44px !important;
        .go-history, .title{
            display: none;
        }
    }
}

.weui-toast{
    width: 5.6em !important;
    min-height: 0 !important;
}