* {
    margin: 0;
    padding: 0;
}
a:hover, a:active {
    outline: 0;
}

a, button {
    outline: none;
}

input::-ms-clear {
    display: none;
}

button, input, select, textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}

img {
    border: 0px;
}

button, input {
    *overflow: visible;
    line-height: normal;
    font-family: $fontFamily;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

ul {
    list-style: none;
}

html {
    height: 100%;
    overflow: hidden;
}