$main-theme-color:#ff7640;
$warning-color:#ff7640;
$disabled-color:#CCCCCC;
$tab-border-color:#EEEEEE;
$gray-font-color:#999999;
$hmfq-theme-color:#5DA7EC;
$vip-theme-color:#D9C38D;
$dialog-title-bg-color:#ff7640;
$dialog-title-font-color:#ffffff;
$dialog-btn-color: #ff7640;