$main-theme-color:#2B2B2B;
$warning-color:#EA263E;
$disabled-color:#CCCCCC;
$tab-border-color:#999999;
$gray-font-color:#999999;
$hmfq-theme-color:#5DA7EC;
$vip-theme-color:#D9C38D;
$dialog-title-bg-color:#ffffff;
$dialog-title-font-color:#2B2B2B;
$dialog-btn-color:#2B2B2B;